:root {
  --white: #FFFFFF;
  --black: #000000;
  --basic-darkblue: #293449;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-blue: #32425C;
  --basic-ylellow: #FFBF47;
  --basic-bluelight: #3BBCE3;
  --basic-lilac: #DC91D8;
  --basic-greenlight: #8ED78F;
  --basic-ylellowlight: #F9F5F0;
  --basic-greylight: #F1F5F7;
  --basic-darklyblue: #212A3A;
  --special-green: #5FBB2D;
  --special-greylightly: #F3F7F9;
  --special-silver: #C5C5C5;
  --special-darklygrey: #0E121A;
  --special-darkgrey: #121925;
  --special-red: #CA2C37;
  --special-darkred: #BA2732;
  --special-greylight: #EAEAEA;
  --special-darksilver: #A9A9A9;
  --special-darkgreen: #367315;
  --special-ylellow: #FFD180;
  --special-greyblue: #405069;
  --special-greenlight: #518534;
  --special-grey: #F7F3EC;
  --special-silverlight: #E5E5E5;
  --special-black24: rgba(0, 0, 0, 0.24);
  --special-white50: rgba(255, 255, 255, 0.5);
  --special-white30: rgba(255, 255, 255, 0.3);
  --special-greylight30: rgba(197, 197, 197, 0.3);
  --special-grey30: rgba(169, 169, 169, 0.3);
  --special-black15: rgba(0, 0, 0, 0.15);
  --special-black30: rgba(0, 0, 0, 0.3);
}

.page {
  height: 100%;
}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.link {
  text-decoration: none;
  color: var(--black);
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  background-color: var(--basic-greylight);
  height: 320px;
  margin-bottom: 85px;
}

.main-header-bar {
  background-color: var(--basic-darkblue);
  margin-bottom: 46px;
  height: 42px;
}

.main-navigation-wrapper {
  display: flex;
}

.main-header-logo {
  background-color: var(--basic-red);
  box-shadow: inset 0 -5px 0 var(--special-black24);
  display: block;
  padding: 12px 55px;
}

.clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.clear-p {
  margin: 0;
  padding: 0;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.user-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.user-menu a {
  color: var(--white);
}

.site-search {
  flex-grow: 1;
}

.site-search input {
  background: none;
  border: none;
  outline: none;
  padding: 9px;
  width: 100%;
  height: 42px;
}

.bookmarks a, 
.basket a {
  display: block;
  padding: 9px 23px;
}

.bookmarks a:focus, 
.basket a:focus {
  background-color: var(--special-darklygrey);
  opacity: 0.5;
}

.site-search input:focus {
  background-color: var(--white);
  border: none;
}

.place-an-order a {
  background-color: var(--basic-green);
  display: block;
  padding: 9px 19px;
}

.place-an-order a:hover {
  background-color: var(--special-green);
}

.place-an-order a:focus {
  background-color: var(--basic-green);
  color: var(--special-white50);
}

.main-navigation-description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 75px;
  margin-bottom: 44.5px;
}

.store-description {
  color: var(--basic-red);
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  display: block;
  padding-left: 30px;
}

.contacts-phone {
  background-color: var(--special-greylightly);
  color: var(--basic-red);
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  border: 3px solid var(--white);
  display: block;
  padding: 7px 50px 8px 39px;
}

.contacts-phone::before {
  content: url("../img/icon-phone.svg");
}

.header-address {
  font-size: 14px;
  color: var(--basic-blue);
  text-align: center;
  margin-top: 3px;
}

.login-link, 
.registration-link {
  font-size: 21px;
  line-height: 21px;
  background-color: var(--white);
  display: inline-block;
  padding: 12px 24px;
}

.personal-account-menu {
  color: var(--basic-blue);
  font-size: 16px;
  line-height: 18px;
}

.login-link:hover, 
.registration-link:hover,
.personal-account-menu:hover {
  color: var(--basic-red);
}

.link-name:hover {
  color: var(--black);
}

.login-link:focus, 
.registration-link:focus,
.personal-account-menu:focus {
  color: var(--special-silver);
}

.site-navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 60px;
  background-color: var(--basic-blue);
  box-shadow: inset 0 -5px 0 var(--basic-darkblue);
}

.site-navigation a {
  color: var(--white);
  display: block;
  padding: 16px 28px;
}

.site-navigation a:hover {
  background-color: var(--basic-darkblue);
}

.site-navigation a:focus {
  background-color: var(--special-darkgrey);
  opacity: 0.5;
}

.navigation-services {
  color: var(--white);
  margin-bottom: 33px;
}

.navigation-services h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.navigation-services-markup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  height: 409px;
}

.navigation-services-materials {
  background-color: var(--basic-ylellow);
}

.navigation-services-tool {
  background-color: var(--basic-bluelight);
}

.navigation-services-technic {
  background-color: var(--basic-lilac);
}

.navigation-services-discounts {
  background-color: var(--basic-greenlight);
}

.navigation-services-delivery {
  background-color: var(--basic-ylellow);
}

.navigation-services-button {
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--special-white30);
  text-transform: uppercase;
}

.navigation-services-button:hover {
  background-color: var(--special-greylight30);
}

.navigation-services-button:focus {
  background-color: var(--special-grey30);
}

.navigation-services-catalog {
  grid-area: 2 / 1 / 4 / 3;
}

.services-catalog,
.services-catalog li {
height: 100%;
}

.services-catalog-hammer-drill {
  background: url(../img/hammer-drill.jpg) no-repeat;
}

.services-catalog-drill {
  background: url(../img/drill.jpg) no-repeat;
}

.services-catalog-hammer-drill h3, 
.services-catalog-drill h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0;
}

.button {
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--basic-red);
}

.button:hover {
  background-color: var(--special-red);
}

.button:focus {
  background-color: var(--special-darkred);
}

.popular-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--basic-ylellowlight);
}

.main-headings {
  flex-grow: 2;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-blue);
  margin: 0;
  padding: 0;
}

.popular-products,
.popular-manufacturers {
  display: grid;
  grid-template-rows: 89px 1fr;
  gap: 20px;
  height: 427px;
  margin-bottom: 70px;
}

.popular-manufacturers {
  height: 419px;
}

.manufacturers-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.manufacturers-card img {
  width: 220px;
  height: 145px;
  object-fit: none;
}

.product-card, 
.manufacturers-card {
  font-family: "PT Sans", Arial, sans-serif;
  border: 1px solid var(--special-greylight);
}

.product-card:hover,
.manufacturers-card:hover {
  box-shadow: 0 4px 20px var(--special-black15);
}

.manufacturers-card:focus {
  opacity: 0.5;
  box-shadow: 0 4px 20px var(--special-black15);
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.product-list h3 {
  font-weight: 700;
  line-height: 20px;
  text-transform: none;
}

.product-list del {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: var(--special-darksilver);
}

.product-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  color: var(--white);
  border-radius: 2px;
}

.price-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  background-color: var(--basic-red);
}

.buy-button {
  background-color: var(--basic-green);
  box-shadow: inset 0 -3px 0 var(--special-darkgreen);
}

.buy-button:hover {
  background-color: var(--special-green);
}

.buy-button:focus {
  background-color: var(--special-greenlight);
}

.bookmark-button {
  color: var(--basic-blue);
  background-color: var(--white);
  border: 3px solid var(--basic-green);
}

.bookmark-button:hover {
  border: 3px solid var(--basic-blue);
}

.bookmark-button:focus {
  opacity: 0.5;
}

.services-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 283px;
  height: 522px;
  margin-bottom: 99px;
}

.services-section-heading {
  grid-area: auto / 1 / auto / 3;
  padding-top: 64px;
}

.services {
  background-color: var(--basic-greylight);
}

.main-headings-black {
  color: var(--black);
}

.about-the-company-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 70px;
}

.services p, 
.about-the-company p, 
.contacts-address p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
}

.services-button {
  color: var(--white);
  border: none;
  background-color: var(--basic-blue);
  box-shadow: 0 1px 0 var(--basic-darkblue), inset 0 1px 0 var(--special-greyblue);
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  width: 240px;
  height: 61px;
}

.services-button:hover {
  background-color: var(--basic-darkblue);
  box-shadow: 0 1px 0 var(--basic-darkblue), inset 0 1px 0 var(--special-greyblue);
}

.services-button:active {
  color: var(--basic-blue);
  background-color: var(--white);
  box-shadow: 0 1px 0 var(--white), inset 0 1px 0 var(--white);
  border: none;
}

.page-catalog {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.page-catalog h1,
.catalog-description h2 {
  background-color: var(--basic-greylight);
  font-family: "Cuprum", Arial, sans-serif;
}

.breadcrumbs {
  font-size: 13px;
  line-height: 18px;
}

.sorting-wrapper {
  background-color: var(--special-grey);
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.button-sorting {
  text-transform: uppercase;
  border: none;
  background: none;
  color: var(--special-black30);
  border-bottom: 1px dotted var(--basic-red);
  margin: 0;
  padding: 0;
}

.button-sorting:hover {
  border-bottom: 1px solid var(--basic-red);
  color: var(--black);
}

.button-sorting:active {
  color: var(--basic-red);
  border: none;
}

.clear-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter fieldset {
  font-size: 15px;
  line-height: 19px;
}

.filter legend {
  background: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.button-show {
  font-size: 13px;
  line-height: 18px;
  border: 1px solid var(--special-silverlight);
  background-color: var(--white);
  text-transform: uppercase;
}

.pagination-list {
  font-size: 13px;
  line-height: 18px;
}

.pagination-list a {
  border: 1px solid var(--special-silverlight);
  border-radius: 2px;
}

.pagination-list a:hover {
  border: 1px solid var(--special-silver);
}

.pagination-list a:focus {
  border: 1px solid var(--basic-red);
}

.pagination-list a:active {
  background-color: var(--basic-red);
}

.catalog-description {
  background-color: var(--basic-greylight);
  font-size: 13px;
  text-transform: none;
}

.main-footer {
  background-color: var(--basic-blue);
}

.footer-navigation {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1fr 1fr;
  height: 193px;
  margin-bottom: 54px;
}

.main-footer-logo {
  background-color: var(--basic-red);
  box-shadow: inset 0 -5px 0 var(--special-black24);
}

.footer-address,
.footer-phone {
  color: var(--special-greylightly);
}

.footer-navigation-contacts {
  grid-area: 1 / auto / 3 / auto;
}

.footer-navigation-list,
.footer-services-list,
.link-htmlacademy {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-navigation-list a {
  color: var(--basic-greylight);
}

.footer-navigation-list a:hover, 
.footer-services-list a:hover, 
.link-htmlacademy a:hover {
  text-decoration: underline;
}

.footer-navigation-list a:focus, 
.footer-services-list a:focus {
  text-decoration: none;
  opacity: 0.5;
}

.footer-services-list a, 
.link-htmlacademy a {
  color: var(--special-ylellow);
}

.footer-social {
  background-color: var(--basic-darkblue);
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.footer-social-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  height: 107px;
}

.footer-social-icon {
  justify-self: center;
}

.link-htmlacademy a:focus {
  text-decoration: none;
  color: var(--basic-red);
}

.modal-username, 
.modal-email, 
.modal-textarea {
  border: 2px solid var(--special-silver);
  border-radius: 2px;
}
