:root {
  --white: #FFFFFF;
  --black: #000000;
  --basic-darkblue: #293449;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-blue: #32425C;
  --basic-ylellow: #FFBF47;
  --basic-bluelight: #3BBCE3;
  --basic-lilac: #DC91D8;
  --basic-greenlight: #8ED78F;
  --basic-ylellowlight: #F9F5F0;
  --basic-greylight: #F1F5F7;
  --basic-darklyblue: #212A3A;
  --special-green: #5FBB2D;
  --special-greylightly: #F3F7F9;
  --special-silver: #C5C5C5;
  --special-darklygrey: #0E121A;
  --special-darkgrey: #121925;
  --special-red: #CA2C37;
  --special-darkred: #BA2732;
  --special-greylight: #EAEAEA;
  --special-darksilver: #A9A9A9;
  --special-darkgreen: #367315;
  --special-ylellow: #FFD180;
  --special-greyblue: #405069;
  --special-greenlight: #518534;
  --special-grey: #F7F3EC;
  --special-silverlight: #E5E5E5;
  --special-blue: #3D546F;
  --special-black24: rgba(0, 0, 0, 0.24);
  --special-white50: rgba(255, 255, 255, 0.5);
  --special-white30: rgba(255, 255, 255, 0.3);
  --special-greylight30: rgba(197, 197, 197, 0.3);
  --special-grey30: rgba(169, 169, 169, 0.3);
  --special-black15: rgba(0, 0, 0, 0.15);
  --special-black30: rgba(0, 0, 0, 0.3);
}

.page {
  height: 100%;
}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.link {
  text-decoration: none;
  color: var(--black);
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  background-color: var(--basic-greylight);
  height: 320px;
  margin-bottom: 85px;
}

.main-header-bar {
  background-color: var(--basic-darkblue);
  margin-bottom: 46px;
  height: 42px;
}

.main-navigation-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.main-header-logo {
  background-color: var(--basic-red);
  box-shadow: inset 0 -5px 0 var(--special-black24);
  display: block;
  padding: 12px 56px 17px;
  line-height: 0;
}

.main-header-logo:focus,
.main-header-logo:active {
  background-color: var(--special-darkred);
}

.clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.clear-p {
  margin: 0;
  padding: 0;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.user-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.user-menu a {
  color: var(--white);
}

.site-search {
  flex-grow: 1;
  position: relative;
  max-width: 268px
}

.site-search input {
  background: none;
  border: none;
  outline: none;
  padding: 9px 42px;
  width: 100%;
  height: 42px;
}

.site-search svg {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 17px;
  top: 12px;
  opacity: 0.3;
}

.site-search:hover svg {
  opacity: 1;
}

.site-search input:focus+svg{
  opacity: 1;
  fill: var(--basic-red);
}

.site-search input:focus {
  background-color: var(--white);
  border: none;
}

.bookmarks a, 
.basket a {
  display: block;
  padding: 10px 26px 9px 46px;
  position: relative;
}

.bookmarks a::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 22px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.basket a::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 23px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmarks a:focus, 
.basket a:focus,
.bookmarks a:active, 
.basket a:active {
  background-color: var(--special-darklygrey);
  opacity: 0.5;
}

.bookmarks a:hover::before,
.basket a:hover::before {
  opacity: 1;
}

.bookmarks a:focus::before,
.basket a:focus::before,
.bookmarks a:active::before,
.basket a:active::before {
  opacity: 0.3;
}

.place-an-order a {
  background-color: var(--basic-green);
  display: block;
  padding: 9px 18px;
}

.place-an-order a:hover {
  background-color: var(--special-green);
}

.place-an-order a:focus,
.place-an-order a:active {
  background-color: var(--basic-green);
  color: var(--special-white50);
}

.main-navigation-description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 75px;
  margin-bottom: 38px;
}

.store-description {
  color: var(--basic-red);
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  display: block;
  padding-left: 30px;
  margin-right: 27px;
}

.contacts-phone {
  background-color: var(--special-greylightly);
  color: var(--basic-red);
  font-weight: 700;
  font-size: 21px;
  border: 3px solid var(--white);
  display: block;
  padding: 7px 50px 8px 70px;
  position: relative;
}

.contacts-phone::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 38px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-address {
  font-size: 14px;
  color: var(--basic-blue);
  text-align: center;
  margin-top: 3px;
}

.login-link, 
.registration-link {
  font-size: 21px;
  line-height: 21px;
  background-color: var(--white);
  display: inline-block;
  padding: 12px 24px;
}

.login-link {
  position: relative;
  padding-left: 46px;
  padding-right: 27px;
  margin-right: 5px;
}

.login-link svg {
  position: absolute;
  width: 20px;
  height: 17px;
  left: 19px;
  top: 14px;
}

.personal-account-menu {
  color: var(--basic-blue);
  font-size: 16px;
  line-height: 18px;
}

.login-link:hover,
.registration-link:hover,
.personal-account-menu:hover {
  color: var(--basic-red);
}

.login-link:hover svg {
  fill: var(--special-blue);
}

.login-link:focus svg {
  fill: var(--special-silver);
}

.link-name:hover {
  color: var(--black);
}

.login-link:focus,
.login-link:active,
.registration-link:focus,
.registration-link:active,
.personal-account-menu:focus,
.personal-account-menu:active {
  color: var(--special-silver);
}

.site-navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 60px;
  background-color: var(--basic-blue);
  box-shadow: inset 0 -5px 0 var(--basic-darkblue);
  padding: 0;
}

.site-navigation a {
  color: var(--white);
  display: block;
  padding: 16px 28px;
}

.site-navigation a:hover {
  background-color: var(--basic-darkblue);
}

.site-navigation a:focus,
.site-navigation a:active {
  background-color: var(--special-darkgrey);
  opacity: 0.5;
}

.navigation-services {
  color: var(--white);
  margin-bottom: 33px;
}

.navigation-services h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.navigation-services-markup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  height: 409px;
}

.navigation-services-markup h3 {
  margin: 0;
}

.nav-services-card {
  padding: 20px 23px;
  position: relative;
  overflow: hidden;
}

.navigation-services-materials {
  background-color: var(--basic-ylellow);
}

.navigation-services-materials::before {
  content: "";
  position: absolute;
  top: 31px;
  left: 213px;
  width: 44px;
  height: 65px;
  background-image: url("../img/icon-materials.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.navigation-services-tool {
  background-color: var(--basic-bluelight);
}

.navigation-services-tool::before {
  content: "";
  position: absolute;
  top: 34px;
  left: 194px;
  width: 75px;
  height: 61px;
  background-image: url("../img/icon-tool.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.navigation-services-technic {
  background-color: var(--basic-lilac);
}

.navigation-services-technic::before {
  content: "";
  position: absolute;
  top: 31px;
  left: 191px;
  width: 78px;
  height: 62px;
  background-image: url("../img/icon-technic.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.navigation-services-discounts {
  background-color: var(--basic-greenlight);
}

.navigation-services-discounts::before {
  content: "";
  position: absolute;
  top: 26px;
  left: 196px;
  width: 59px;
  height: 72px;
  background-image: url("../img/icon-discount.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.navigation-services-delivery {
  background-color: var(--basic-ylellow);
}

.navigation-services-delivery::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 191px;
  width: 78px;
  height: 63px;
  background-image: url("../img/icon-delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.navigation-services-button {
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--special-white30);
  text-transform: uppercase;
  padding: 10px 0;
  Width: 135px;
  text-align: center;
  position: absolute;
  bottom: 21px;
}

.navigation-services-button:hover {
  background-color: var(--special-greylight30);
}

.navigation-services-button:focus,
.navigation-services-button:active {
  background-color: var(--special-grey30);
}

.new-product {
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  display: block;
  background-color: var(--basic-red);
  transform: rotate(45deg);
  position: absolute;
  padding: 8px 40px 5px;
}

.navigation-services-materials .new-product {
  top: 8px;
  left: 225px;
}

.navigation-services-catalog {
  grid-area: 2 / 1 / 4 / 3;
  position: relative;
}

.services-catalog,
.services-catalog li {
  height: 100%;
}

.services-catalog-hammer-drill {
  background: url(../img/hammer-drill.jpg) no-repeat;
}

.services-catalog-drill {
  background: url(../img/drill.jpg) no-repeat;
}

.services-catalog-content {
  padding: 23px 24px;
}

.services-catalog-hammer-drill h3,
.services-catalog-drill h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 5px;
}

.services-catalog-content a {
position: absolute;
bottom: 27px;
}

.button {
  display: block;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 0;
  Width: 192px;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--basic-red);
}

.button:hover {
  background-color: var(--special-red);
}

.button:focus,
.button:active {
  background-color: var(--special-darkred);
}

.button-forward {
  visibility: hidden;
  position: absolute;
  top: 122px;
  left: 578px;
  width: 22px;
  height: 40px;
  border: none;
  padding: 0;
}

.button-back {
  visibility: hidden;
  position: absolute;
  top: 122px;
  left: 24px;
  width: 22px;
  height: 40px;
  border: none;
  padding: 0;
}

.button-back::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 40px;
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  visibility: visible;
}

.button-forward::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 22px;
  height: 40px;
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  visibility: visible;
  transform: rotate(-180deg);
}

.popular-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--basic-ylellowlight);
  padding-right: 14px;
  padding-left: 28px;
}

.main-headings {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-blue);
  margin: 0;
  padding: 0;
}

.popular-products,
.popular-manufacturers {
  display: grid;
  grid-template-rows: 89px 318px;
  gap: 20px;
  margin-bottom: 70px;
}

.popular-manufacturers {
  grid-template-rows: 89px 310px;
}

.manufacturers-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.manufacturers-card img {
  width: 220px;
  height: 145px;
  object-fit: none;
}

.product-card,
.manufacturers-card {
  font-family: "PT Sans", Arial, sans-serif;
  border: 1px solid var(--special-greylight);
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}

.product-card .new-product {
  top: 8px;
  left: 143px;
}

.product-card a {
  order: 1;
}

.product-card del {
  order: 2;
}

.product-card div {
  margin: auto
}

.product-card h3 {
  margin: 8px 0;
}

.manufacturers-card a {
  display: block;
  height: 143px;
}

.product-card:hover,
.manufacturers-card:hover {
  box-shadow: 0 4px 20px var(--special-black15);
}

.manufacturers-card a:focus,
.manufacturers-card a:active {
  opacity: 0.5;
  box-shadow: 0 4px 20px var(--special-black15);
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  position: relative;
}

.product-list h3,
.product-card h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: none;
  padding: 0 18px;
}

.product-list del,
.product-card del {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: var(--special-darksilver);
}

.product-list-catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.product-button {
  order: 2;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  color: var(--white);
  border-radius: 2px;
}

.product-button-hover {
  display: none;
}

.product-card:hover .product-button-hover {
  display: block;
  position: absolute;
  padding: 38px 44px 46px 41px;
  background-color: var(--white);
  top: 0;
  left: 0;
}

.price-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  background-color: var(--basic-red);
  margin: 13px 34px 21px 45px;
  padding: 10px 40px 10px 30px;
  clip-path: polygon(0% 0%, 87% 0%, 100% 50%, 87% 100%, 0% 100%);
}

.buy-button {
  background-color: var(--basic-green);
  box-shadow: inset 0 -3px 0 var(--special-darkgreen);
  padding: 10px 40px 10px 53px;
}

.buy-button:hover {
  background-color: var(--special-green);
}

.buy-button:focus,
.buy-button:active {
  background-color: var(--special-greenlight);
}

.bookmark-button {
  color: var(--basic-blue);
  background-color: var(--white);
  border: 3px solid var(--basic-green);
  padding: 8px 31px 6px 30px;
  margin-top: 10px;
}

.bookmark-button:hover {
  border: 3px solid var(--basic-blue);
}

.bookmark-button:focus,
.bookmark-button:active {
  opacity: 0.5;
}

.services-section {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 1fr 283px;
  height: 522px;
  margin-bottom: 70px;
  position: relative;
}

.services-list::before {
  content: "";
  position: absolute;
  top: 189px;
  left: 240px;
  width: 10px;
  height: 279px;
  background-image: url("../img/line.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-section-heading {
  grid-area: auto / 1 / auto / 3;
  padding-top: 64px;
}

.services {
  background-color: var(--basic-greylight);
}

.services-section-heading h2 {
  margin-bottom: 25px;
}

.services-description {
  margin-left: 80px;
  position: relative;
}

.services-description h3 {
  margin-bottom: 30px;
}

.services-description-delivery::before {
  content: "";
  position: absolute;
  top: 19px;
  left: 151px;
  width: 468px;
  height: 261px;
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-description-пuarantee::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 239px;
  width: 386px;
  height: 283px;
  background-image: url("../img/пuarantee.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-description-credit a {
margin-top: 26px;
}

.services-description-credit::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 165px;
  width: 465px;
  height: 285px;
  background-image: url("../img/сredit.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-headings-black {
  color: var(--black);
}

.about-the-company-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 70px;
  height: 356px;
  position: relative;
}

.about-the-company-section h2 {
  margin-bottom: 24px;
}

.about-the-company-section .button {
  position: absolute;
  bottom: 0px;
}

.contacts-address {
  margin-left: 13px;
}

.contacts-address .button {
  width: 300px;
}

.about-the-company .button {
  width: 220px;
}

.services p,
.about-the-company p,
.contacts-address p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
}

.main-map {
  display: block;
  height: 158px;
  margin-top: 32px;
}

.transport-companies {
  margin-top: 26px;
  margin-bottom: 5px;
}

.list-transport-companies li {
  padding-left: 37px;
  margin-bottom: 10px;
  position: relative;
}

.list-transport-companies li:last-child {
  margin-bottom: 20px;
}

.list-transport-companies li::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.services-button {
  color: var(--white);
  border: none;
  background-color: var(--basic-blue);
  box-shadow: 0 1px 0 var(--basic-darkblue), inset 0 1px 0 var(--special-greyblue);
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  width: 240px;
  height: 61px;
  text-align: left;
  padding: 14px 22px 17px;
}

.services-button:hover {
  background-color: var(--basic-darkblue);
  box-shadow: 0 1px 0 var(--basic-darkblue), inset 0 1px 0 var(--special-greyblue);
}

.services-button:active {
  color: var(--basic-blue);
  background-color: var(--white);
  box-shadow: 0 1px 0 var(--white), inset 0 1px 0 var(--white);
  border: none;
}

.services-button-current,
.services-button-current:hover {
  color: var(--basic-blue);
  background-color: var(--white);
  box-shadow: 0 1px 0 var(--white), inset 0 1px 0 var(--white);
}

.page-catalog {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  margin-top: 21px;
}

.page-catalog-section {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 38px 109px 66px 1fr 145px;
}

.page-catalog h1,
.catalog-description h2 {
  background-color: var(--basic-greylight);
  font-family: "Cuprum", Arial, sans-serif;
  padding: 29px;
}

.page-catalog h1 {
  grid-area: auto / 1 / auto / 3;
  margin-bottom: 20px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  grid-area: 2 / 1 / 1 / 3;
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs li {
  margin-right: 41px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.sorting-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 19px;
  margin-bottom: 28px;
}

.sorting-bar {
  background-color: var(--special-grey);
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.sorting-bar h2 {
  margin: 0;
}

.sorting-wrapper-list {
  display: flex;
  flex-wrap: wrap;
}

.sorting-wrapper-item {
  display: flex;
  flex-wrap: wrap;
}

.button-sorting {
  text-transform: uppercase;
  border: none;
  background: none;
  color: var(--special-black30);
  border-bottom: 1px dotted var(--basic-red);
  margin: 0;
  padding: 0;
}

.button-sorting:hover {
  border-bottom: 1px solid var(--basic-red);
  color: var(--black);
}

.button-sorting:active {
  color: var(--basic-red);
  border: none;
}

.clear-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter {
  grid-area: 3 / auto / 6 / auto;
  margin-right: 20px;
}

.filter fieldset {
  font-size: 15px;
  line-height: 19px;
}

.filter legend {
  background: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.button-show {
  font-size: 13px;
  line-height: 18px;
  border: 1px solid var(--special-silverlight);
  background-color: var(--white);
  text-transform: uppercase;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  font-size: 13px;
  line-height: 18px;
}

.pagination-list a {
  display: block;
  padding: 10px 15px;
}

.pagination-list a {
  border: 1px solid var(--special-silverlight);
  border-radius: 2px;
}

.pagination-list a:hover {
  border: 1px solid var(--special-silver);
}

.pagination-list a:focus {
  border: 1px solid var(--basic-red);
}

.pagination-list a:active {
  background-color: var(--basic-red);
}

.pagination-list li {
  margin-right: 10px;
}

.pagination-list li:last-child {
  margin-right: 0;
}

.catalog-description {
  background-color: var(--basic-greylight);
  font-size: 13px;
  text-transform: none;
}

.main-footer {
  background-color: var(--basic-blue);
}

.footer-navigation {
  display: grid;
  grid-template-columns: 1fr 546px;
  grid-template-rows: 95px 1fr;
  height: 193px;
}

.main-footer-logo {
  background-color: var(--basic-red);
  box-shadow: inset 0 -5px 0 var(--special-black24);
  display: block;
  padding: 20px 41px 25px;
  line-height: 0;
  margin-right: 174px;
  margin-bottom: 22px;
}

.footer-address,
.footer-phone {
  color: var(--special-greylightly);
}

.footer-navigation-contacts {
  grid-area: 1 / auto / 3 / auto;
}

.footer-navigation-list,
.footer-services-list,
.link-htmlacademy {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.link-htmlacademy {
  margin: 0 14px;
}

.footer-navigation-list {
  margin-top: 37px;
}

.footer-services-list {
  margin-left: 22px;
}

.footer-navigation-list a {
  color: var(--basic-greylight);
}

.footer-navigation-list a:hover,
.footer-services-list a:hover,
.link-htmlacademy a:hover {
  text-decoration: underline;
}

.footer-navigation-list a:focus,
.footer-services-list a:focus,
.footer-navigation-list a:active,
.footer-services-list a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-services-list a,
.link-htmlacademy a {
  color: var(--special-ylellow);
}

.footer-social {
  background-color: var(--basic-darkblue);
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
  height: 107px;
}

.footer-social-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 35px;
}

.footer-social-icon {
  display: flex;
  justify-self: center;
  flex-wrap: wrap;
}

.footer-social-icon li {
  margin-right: 1px;
}

.footer-social-icon li:last-child {
  margin-right: 29px;
}

.social-button {
  display: block;
  Width: 44px;
  Height: 44px;
  background-color: var(--basic-darklyblue);
  border-radius: 50%;
  position: relative;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: var(--basic-red);
}

.social-button-vkontakte::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 9px;
  width: 26px;
  height: 15px;
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-button-facebook::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 16px;
  width: 12px;
  height: 22px;
  background-image: url("../img/icon-facebook.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-button-instagram::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 11px;
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-instagram.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.link-htmlacademy a:focus,
.link-htmlacademy a:active {
  text-decoration: none;
  color: var(--basic-red);
}

.modal-username,
.modal-email,
.modal-textarea {
  border: 2px solid var(--special-silver);
  border-radius: 2px;
}